# Template for Gateway & HA integration testing configuration.
# Copy this file to .env and set your private credentials/addresses.
# .env is listed in .gitignore and will NEVER be committed to git!

# Gateway Web API Host and Port
GW_HOST=gateway.local.local
GW_PORT=8080

# Home Assistant REST API Integration Target
HA_URL=http://gateway.local.local:8123
HA_TOKEN=....
